@import url('https://fonts.googleapis.com/css?family=Merriweather');

h3{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;

}

.swiper-container {
    width: 100%;
    padding-top: 47px;
    padding-bottom: 2px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;

}

.swiper-slide .imgBx{
    width: 100%;
}



.swiper-slide .imgBx .image{
    width: 100%;
   
   
}


.details {

    font-size: 20px;
    margin-top: -50px;

}
  

img {
    height: 250px;
    width: 300px;
}

