
.speech-bubble-ds {
    background-color: #E3E2FC;
    border-radius: 4px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 30px;
    
}

.message-div {
    background: url("../../Photos/gravel.png");
}


.currentUser {
    background-color: #95F7BA;
    border-radius: 4px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    
}

.message-h {
    text-align: center;
    color: red;
}

.user-message {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-weight: bold;
    color: blue;
}


.textAre {
    width: 100%;
    padding: 20px;
}

.over {
    overflow: auto;
    height: 500px;
    background-color: #2F4F4F;
}