@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.nav-link {
    font-weight: bold;
    color: white;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    font-size: 20px;

}

.iconify {
    height: 35px;
    width: 40px;
}

.container-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.form-group {
    /* background: lightblue; */
    margin: 0.5em;
    width: 250px;
    text-align: center;
}




.form-been {
    border: 2px solid red;
    width: 72px;
}

.navbar {
    background-color: #DEB887;
}