@import url('https://fonts.googleapis.com/css?family=Lora');

.div-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url("../../Photos/couplecollage.jpg");
   opacity: 0.09;
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); */
}

.logo {
    height: 191px;
    width: 191px;
    padding:20px;
}

.content {
    margin-top:50px;
    position: relative; 
    z-index: 2;
}


.whatever {
    
    text-align: center;
    font-family: 'Lora', serif;
    /* background-image: url("../../Photos/thumb-1920-467732.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container-logo {
   margin-top: -251px;
   padding: 6.5em;
   display: flex;
   justify-content: center;
}

.wrap-logo {
    height: 150px;
    width: 150px;
}

.logo-name {
margin: 0.5em;
}



.swiper-div {
    margin-top: -65px;
}
.input-div {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: transparent;
}

h3 {
    font-size: 20px;
}

.group-form  {
    width: 100% !important;
}

.form-div {
    position: relative;

}

.sign-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 400px;
    padding: 40px;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0  25px 200px rgba(0,0,0,5);
    border-radius: 10px;
    text-align: center;
    margin-top: -126px;
}

