@import url('https://fonts.googleapis.com/css?family=Lora');

.whatever {
    
    text-align: center;
    font-family: 'Lora', serif;
    background-image: url("../../Photos/thumb-1920-467732.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container-logo {
   margin-top: -250px;
   padding: 0.5em;
   display: flex;
   justify-content: center;
}

.logo-name {

margin: 0.5em;
}


.swiper-div {
    margin-top: 200px;
}
.input-div {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: transparent;
}

h3 {
    font-size: 20px;
}

.form-div {
    position: relative;

}

.sign-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 500px;
    padding: 40px;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0  15px 25px rgba(0,0,0,5);
    border-radius: 10px;
    text-align: center;
}

