@import url('https://fonts.googleapis.com/css?family=Merriweather');

.fav-Profile {
    background: #2F4F4F;
    background-attachment: fixed;
}

.fav-container {
    /* background-color: #2F4F4F; */
    margin-top: -200px !important;

   
}

.fav-title {
    font-family: 'Merriweather', serif;
    color: #00BFFF;
    font-weight: bold;
    text-align: center;
margin-top: 20px;
}

